.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.padding-1 {
	padding: 1rem;
}

.App {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: grid;
	min-height: 100vh;
	grid-auto-rows: auto 1fr;
	// justify-content: stretch;
}

.content {
	.container {
		height: 100%;
	}
}
